.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem;
    gap: 1rem; 
}

.pagination-container {
    display: flex;
    align-items: center;
}

.page-number-box {
    display: flex;
    align-items: center;
    background-color: #f4f6f9; 
    border: 1px solid #d0d6de; 
    border-radius: 4px; 
    padding: 0.5rem 1rem; 
    height: 2.0rem; 
}
.page-number, .total-pages {
    font-size: 1rem; 
}

.separator {
    font-size: 1.1rem; 
    margin: 0 0.5rem; 
}

.lightning-button-group button {
    background-color: #0070d2; 
    color: white; 
    border-radius: 4px; 
    padding: 0.75rem 1.5rem; 
    margin: 0 0.5rem;
    font-weight: bold; 
    font-size: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, transform 0.2s; 
    height: 2.5rem; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}


.lightning-button-group button:disabled {
    background-color: #e4e4e4; 
    color: #8c8c8c; 
    cursor: not-allowed;
}

.lightning-button-group button:hover:not([disabled]) {
    background-color: #005fb2;
    transform: translateY(-2px);
}

.lightning-button-group button:active:not([disabled]) {
    background-color: #004494;
    transform: translateY(0); 
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.contact-total {
    margin: 0; 
    align-items: left;
}

.search-input {
    display: flex;
    align-items: center;
}

.no-records-message {
    background-color: #f4f6f9; 
    border: 1px solid #d0d6de; 
    padding: 2rem; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    font-size: 1.5rem; 
    font-weight: 500; 
    color: #4a4a4a; 
    margin-top: 2rem; 
    margin-bottom: 2rem;
}

.no-records-message p {
    margin: 0; 
}

.no-records-message::before {
    content: '⚠️'; 
    font-size: 2rem; 
    display: block;
    margin-bottom: 1rem; 
}

